<a href="https://colab.research.google.com/github/crislanecas/estudos_r/blob/main/07_Importando_dados_Mtcars_com_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalando pacotes

In [1]:
# Importa e carrega o pacote especificado.
install.packages("tidyverse")
library(tidyverse)

# Carrega o pacote readxl que importar planilhas de dados nos formatos .xls .xlsx e .xml.
library(readxl)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

# Função data()

In [2]:
# A função data() sem um argumento, vai exibir uma lista de todos os conjuntos de dados disponíveis.
data()

# Carregando conjunto de dados
O conjunto de dados contém informações sobre os carros que apareceram nas edições passadas da revista Motor Trend. Contém 32 observações e 11 variáveis.

In [3]:
# Carregar o conjuntos de dados especificado como parâmetro.
data(mtcars)

In [4]:
# Mostra o conjunto de dados.
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

# Função read_csv() e suas variações

In [ ]:
# Arquivos com valores separados por vírgula.
read_csv()

# Arquivos com valores separados por tabulação.
read_tsv()

# Arquivos delimitados em forma geral.
read_delim()

# Arquivos com largura ajustada.
read_fwf()

# Arquivos tabulares onde as colunas são separadas por um espaço em branco.
read_table()

# Arquivos de log da web.
read_log()

# Função readr_example()

In [5]:
# Exibe uma lista de todos os conjuntos de dados de amostra embutidos no pacote.
readr_example()

 [1] "challenge.csv"               "chickens.csv"
 [3] "epa78.txt"                   "example.log"
 [5] "fwf-sample.txt"              "massey-rating.txt"
 [7] "mini-gapminder-africa.csv"   "mini-gapminder-americas.csv"
 [9] "mini-gapminder-asia.csv"     "mini-gapminder-europe.csv"
[11] "mini-gapminder-oceania.csv"  "mtcars.csv"
[13] "mtcars.csv.bz2"              "mtcars.csv.zip"
[15] "whitespace-sample.txt"

In [6]:
# Carrega o consjuntos de dados especificado como parâmetro.
read_csv(readr_example("mtcars.csv"))

Rows: 32 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (11): mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
11 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
15 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
16 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
18 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
19 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
20 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
21 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
22 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
24 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
25 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
26 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
29 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
30 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
31 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
32 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

# Função read_execel()

https://readxl.tidyverse.org/

In [7]:
# Exibe as amostra de conjuntos de dados.
read_excel(readxl_example("type-me.xlsx"))

   maybe boolean? description
1  NA             empty
2  0              0 (numeric)
3  1              1 (numeric)
4  40908          datetime
5  TRUE           boolean true
6  FALSE          boolean false
7  cabbage        "cabbage"
8  true           the string "true"
9  F              the letter "F"
10 False          "False" preceded by single quote

# Função excel_sheets()

https://readxl.tidyverse.org/reference/excel_sheets.html

In [8]:
# Exibe as amostra de conjuntos de dados.
excel_sheets(readxl_example("type-me.xlsx"))

[1] "logical_coercion" "numeric_coercion" "date_coercion"    "text_coercion"

In [9]:
# Lê o arquivo especificado como parâmentro pelo nome.
read_excel(readxl_example("type-me.xlsx"), sheet ="numeric_coercion")

  maybe numeric? explanation
1 NA             empty
2 TRUE           boolean true
3 FALSE          boolean false
4 40534          datetime
5 123456         the string "123456"
6 123456         the number 123456
7 cabbage        "cabbage"

# Informações adicinais

Lista com os datasets pré-carregados e descrições detalhadas: https://stat.ethz.ch/R-manual/R-devel/library/datasets/html/00Index.html

Capítulo sobre importação de dados: https://r4ds.had.co.nz/data-import.html