<a href="https://colab.research.google.com/github/crislanecas/estudos_r/blob/main/Google%20Data%20Analytics/02_Estrutura_de_dados_em_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalando pacotes

In [ ]:
# Instala o pacote tidyverse.
install.packages("tidyverse")

# Função c()
Vetor é um grupo de elementos de dados do mesmo tipo armazenado em uma sequência.

In [ ]:
# Cria um vetor utilizando a função c(), combine.
vec1 <- c(1, 2, 3, 4, 5)
vec1

[1] 1 2 3 4 5

In [ ]:
# Cria um vetor de números inteiros, sendo necessário inserir a letra "L" logo após cada número.
vec2 <- c(1L, 5L, 15L)
vec2

[1]  1  5 15

# Função typeof()

In [ ]:
# Mostra o tipo do vetor.
typeof(vec1)

[1] "double"

# Função is.logical(), is.double(), is.integer(), is.character()

In [ ]:
# Verificar se o vetor é do tipo lógico.
is.logical(vec1)

[1] FALSE

In [ ]:
# Verificar se o vetor é do tipo decimal.
is.double(vec1)

[1] TRUE

In [ ]:
# Verificar se o vetor é do tipo inteiro.
is.integer(vec2)

[1] TRUE

In [ ]:
# Verificar se o vetor é do tipo caracter.
is.character(vec2)

[1] FALSE


# Função length()

In [ ]:
# Mostra o comprimento do vetor, quantos elementos tem armazenados.
x <- c(33.5, 57.75, 120.05, 4)
length(x)

[1] 4

# Função names()

In [ ]:
# Atribui novos elementos ao vetor, substituindo os anteriores.
names(vec1) <- c("a", "b", "c")
vec1

   a    b    c <NA> <NA>
   1    2    3    4    5

# Função list()
Listas diferem-se dos vetores atômicos pois seus elementos podem ser de qualquer tipo, como datas, data frames, vetores, matrizes, etc. Elas podem até mesmo conter outras listas.

In [ ]:
# Cria uma lista com elementos diferentes e atribui os valores a variável.
lista1 <- list("a", 1L, 1.5, TRUE)

In [ ]:
# Cria uma lista, dentro de outra lista (lista aninhada) e atribui os valores a variável.
z <- list(list(list(1 , 3, 5)))

In [ ]:
# Cria uma lista, com chave e valor e atribui os valores a variável.
lista2 <- list('Chicago' = 1, 'New York' = 2, 'Los Angeles' = 3)

# Função str()

In [ ]:
# Mostra os tipos de elementos inclusos em uma lista.
str(lista1)

List of 4
 $ : chr "a"
 $ : int 1
 $ : num 1.5
 $ : logi TRUE

In [ ]:
# Mostra os tipos de elementos inclusos em uma lista.
# O recuo dos símbolos $ refletem a estrutura aninhada da lista.
str(z)

List of 1
 $ :List of 1
  ..$ :List of 3
  .. ..$ : num 1
  .. ..$ : num 3
  .. ..$ : num 5

In [ ]:
# Mostra os tipos de elementos inclusos em uma lista.
str(lista2)

List of 3
 $ Chicago    : num 1
 $ New York   : num 2
 $ Los Angeles: num 3

# Função data.frame()
Dataframe, é uma coleção de colunas semelhante a uma planilha ou tabela de SQL.

In [ ]:
# Cria uma dataframe.
data.frame(x = c(1, 2, 3) , y = c(1.5, 5.5, 7.5))

  x y
1 1 1.5
2 2 5.5
3 3 7.5

# Função dir.create()

In [ ]:
# Criar uma nova pasta, ou diretório, para guardar seus arquivos.
dir.create ("destination_folder")

# Função file.create()
Os tipos de arquivo serão, em geral, como .txt, .docx ou .csv.

In [ ]:
# Criar um arquivo em branco, insira o nome e o tipo do arquivo a ser criado.
file.create ("new_csv_file.csv")

[1] TRUE

# Função file.copy()

In [ ]:
# Copia um arquivo, insira como argumento o nome do arquivo a ser copiado e o nome da pasta de destino na qual o arquivo será copiado.
file.copy ("new_csv_file.csv", "destination_folder")

[1] FALSE

# Função unlink()

In [ ]:
# Excluir um arquivo.
unlink ("some_.file.csv")

# Função matrix()
Especificar o número de linhas ou de colunas nrow = ou ncol = , respectivamente.

In [ ]:
# Criar uma matriz, por linhas.
matrix(c(3:8), nrow = 2)

     [,1] [,2] [,3]
[1,] 3    5    7
[2,] 4    6    8

In [ ]:
# Criar uma matriz, por colunas.
matrix(c(3:8), ncol = 2)

     [,1] [,2]
[1,] 3    6
[2,] 4    7
[3,] 5    8